/**
styles
**/

html,
body {
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	height: 100%;
}

main {
	flex: 1 0 auto;
}

header {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 1rem 0;
	flex: 0 0 auto;
}

.container {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 20px;

}

.product-card__name {
	font-size: 24px;
	color: #0810a0;
	font-weight: 600;
}

.product-card {
	cursor: pointer;
	display: grid;
	gap: 20px;
	grid-template-rows: 220px auto 50px;
	border: 1px solid #ddd;
	text-align: center;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.product-card:hover {
	box-shadow: 0px 0px 75px 0px rgba(44, 110, 161, 0.2);
	transform: translateY(-5px) ;
	-webkit-transform: translateY(-5px) ;
	-moz-transform: translateY(-5px) ;
	-ms-transform: translateY(-5px) ;
	-o-transform: translateY(-5px) ;
}

.product-card__dsc {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px 20px
}

.product-card img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.details-btn {
	background-color: #0810a0;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;

	width: 100%;
	height: 100%;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 60px;
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
	text-align: center;
	position: relative;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.modal-body{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

img#modal-img {
	border-radius: 10px;
}

#modal-title{
	margin-bottom: 10px;
}

.close {
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	right: 10px;
	top: 0;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.quantity-control {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
	gap: 10px;
}

.quantity-control button {
	padding: 5px 10px;
	cursor: pointer;

	border-radius: 8px;
	background: aliceblue;
}

#add-to-cart {
	background-color: #0810a0;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
}

footer {
	background-color: #080808;
	color: white;
	text-align: center;
	padding: 1rem 0;
	width: 100%;
	bottom: 0;
	flex: 0 0 auto;
}

.cart-counter {
	display: flex;
	justify-content: center;
	align-items: center;
}


@media (min-width: 768px) and (max-width: 1199px) {
	.product-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}


@media (max-width: 767px) {
	.product-grid {
		grid-template-columns: 1fr;
	}
}